/.vscode/
/.VSCodeCounter/

/program_2/02-WebpackLoader/node_modules/
/program_2/03-WebpackVue/node_modules/
/program_2/04-WebpackVue2/node_modules/
/program_2/05-WebpackPlugin/node_modules/
/program_2/06-WebpackDetach/node_modules/

/program_3/01-VuecliTest/node_modules/
/program_3/02-VuecliTest/runtimeandcompiler/node_modules/
/program_3/02-VuecliTest/runtimeonly/node_modules/
/program_3/03-VuecliTest/node_modules/
/program_3/04-VuecliRouter/node_modules/
/program_3/05-vueclidynamicrouter/node_modules/
/program_3/06-vueclilazyrouter/node_modules/
/program_3/07-vueclinestedrouter/node_modules/
/program_3/08-vueclirouterparams/node_modules/
/program_3/09-vueclititle/node_modules/
/program_3/10-tabbar/node_modules/

/program_4/01-vuex1/node_modules/
/program_4/02-vuex2/node_modules/
/program_4/03-axios1/node_modules/
/program_4/04-axios2/node_modules/

/program_5/00-jsonserver/node_modules/
/program_5/01-supermall/node_modules/

